<!--First is to iterate though the set of questions to get individual ones -->
<h2> List of properties posted </h2>
<% properties = Property.all %>
	<% if properties.count == 0 %>
		No Properties posted yet. Be the first?
	<% else %>
		<% properties.each do |property| %>
		 <a href="/properties/<%= property.id %>"><%= property.title %></a><br> 
		Owner : <%= property.user.name%><br>
		Location : <%= property.location %><br>
		Price : <%= property.price %><br>
		Availability : This feature hasn't been implemented yet!<br>
		Comments : We're implementing this very soon! <br>

	<% end %>
<% end %><br>