<h1><%= @property.title %></h1>
 
Owner : <%= @property.user.name%><br>
Location : <%= @property.location %><br>
Monthly Rent : <%= @property.price %><br>
Availability : This feature hasn't been implemented yet!<br>
Comments : We're implementing this very soon! <br>

<a href="/properties/<%= @property.id %>/edit">
<button>Edit property</button>
</a>

<form action="/properties/<%= @property.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>